body{
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px solid hsl(0, 2%, 60%);
  border-radius: 20px;
  
}

.display {
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(56, 7%, 60%);
  margin-bottom: 10px;
}

.control button{
  color: white;
  padding: 5px;
  min-width: 80px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: hsl(120, 100%, 25%);
}

.stop-button{
  background-color: hsla(0, 100%, 50%, 0.795);
}

.reset-button{
  background-color: hsla(221, 100%, 59%, 0.644);
}
.start-button:hover{
  background-color: hsla(120, 100%, 32%, 0.87);
}

.stop-button:hover{
  background-color: hsla(0, 100%, 50%, 0.897);
}

.reset-button:hover{
  background-color: hsla(221, 100%, 59%, 0.781);
}